---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  width: number;
  alt: string;
  description: string;
  className?: string;
}

const { src, alt, description, className } = Astro.props;
---

<div class="my-4">
  <Image {src} {alt} width={src.width} class={`mx-auto ${className}`} />
  <em class="text-center mx-auto block">{description}</em>
</div>
