---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div class="mb-5">
  <a
    class="text-2xl font-bold mb-2 hover:underline"
    href={`/projects/${project.slug}`}
    aria-label={`Details about ${project.data.name}`}>{project.data.name}</a
  >
  <p class="text-gray- dark:text-gray-400 mb-2">
    {project.data.description}
  </p>
  <div class="flex flex-row align-middle gap-2">
    <a
      href={project.data.url}
      rel="noopener noreferrer"
      target="_blank"
      aria-label={`Visit project ${project.data.name}'s webpage`}
    >
      <span
        class="icon-[mdi--globe] text-xl hover:scale-110" />
    </a>
    <a
      href={project.data.github}
      rel="noopener noreferrer"
      target="_blank"
      aria-label={`Visit project ${project.data.name}'s GitHub`}
    >
      <span class="icon-[mdi--github] text-xl hover:scale-110" />
    </a>
  </div>
</div>
